body{ 

    margin: 0;
    padding: 0%;
    /*Color de fondo de la pagina */
    background-color:rgb(133, 122, 122); 
    background-image: url(imagenes.png)
    size:-moz-element(hit
    )
    


    ;
}